
#h1{color:orange;
	font-size:22px;
	font-family: Arial, Helvetica, sans-serif;
	margin-top:10px;
}
strong{	color:#666666;
}
p{color:#A0A0A0;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:lighter;
	font-size:14px;
}

#content{
	width:80%;
	box-shadow:0px 0px 3px gray;
	padding:10px 7px 10px 7px;
	text-align:justify;
}

